<<<<<<< HEAD
.button-container {
    margin: 0 auto;
    margin-top: 80px;
    align-self: center;
    width: 50vw;
}
=======
.button-container {
    margin: 0 auto;
    margin-top: 80px;
    align-self: center;
    width: 50vw;
}
>>>>>>> 92d98684e61687e7b0b99c351bb67bd773c6317d
